*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/uni-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*Lines up logo and site name horizontally*/
.logo-section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-section h1{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    
}

.logo-section img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

/*Horizontal Navigation Styles*/
.nav-links ul li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/*Underline effect on hover*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/*Underline expands to full width on hover*/
.nav-links ul li:hover::after{
    width: 100%;
}

/*Centers hero text in the center of header*/
.hero-text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1{
    font-size: 40px;
}

.hero-text p{
    font-size: 16px;
    margin: 10px 0 40px;
    color: #fff;
}

.search-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

form{
    width: 700px;
    height: 55px;
    display: flex;
}

form input{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 20px;
}


nav .fa{
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/*Make responsive on smaller screens*/
@media(max-width: 700px){
    .hero-text h1{
        font-size: 20px;
    }

    .hero-text p{
        font-size: 14px;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        height: 100%;
        
    }

    .nav-links ul li{
        padding: 10px 30px;
    }

    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        font-size: 24px;
        margin: 10px;
        cursor: pointer;
    }

    

}

/*----- Features ------*/

.features{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.features h1{
    font-size: 45px;
    font-weight: 600px;
}

.feature-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.feature{
    flex-basis: 31%;
    
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 50px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.feature-icon{
    font-size: 100px;
}

.feature h3{
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
}

.feature p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.feature:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .feature-row{
        flex-direction: column;
        gap: 20px;
    }

    .features h1{
        margin-bottom: 50px;
    }
}

/*Signup Modal*/



/*----- Footer ------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #222;
}

.footer p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}